* {
  margin: 0px;
  box-sizing: border-box;
  body {
    font-size: 1.5em;
    display: flex;
    background: url(night-lights-road-tower-wallpaper-preview.jpg) no-repeat
      center center fixed;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    .container {
      border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.705);
      border: 3px solid black;
      padding: 45px;
      color: white;
      .buscador {
          input {
              border-radius: 5px;
                padding: 6px;
            }
            button{
                border-radius: 5px;
                padding: 4px;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
      }
    }
  }
}
